<!DOCTYPE html>
<html>
<head>
  <%- include('controls/head') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <!-- nav -->
  <header class="header">
    <a href="<%= Source_nav %>index.html" class="logo"><img src="<%= Source_img %>logo.png"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <%- include('controls/header') %>
  </header>
  <div class='container'>
    <!-- breadcrumb-->
    <!--main content -->
    <div class="main">
     <%- include('controls/breadcrumbs') %>   
      <!-- intro text -->
      <div class="intro"><span>Meet the team members behind the Spark portotypes.</span></div>
      <!--content blocks -->
     <!-- how to add the members.ejs here??? -->
    </dir>
  </div>
  <!-- footer -->
</div>
 <%- include('controls/footer') %>
</body>
</html>